<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.mapper.XmMenuCommentMapper">

    <select id="selectListMapByWhere" resultType="HashMap">
        select * from xm_menu_comment res
        <where>
            ${@com.mdp.Util@trimWhere(ew.customSqlSegment)}
            <!--下面可以添加更多查询条件，正常的if 条件都是支持的-->
            <if test="ext.pidIsNull!=null and ext.pidIsNull!=''"> and pid is null</if>
        </where>
        <!--下面双引号内可以添加默认排序，如果前端没有上传排序，将使用引号内的排序规则-->
        ${@com.mdp.Util@trimOrderBy(ew.customSqlSegment,'')}
        <!--下面双引号内可以添加默认分组，如果前端没有上传分组，将使用引号内的分组规则-->
        ${@com.mdp.Util@trimGroupBy(ew.customSqlSegment,'')}
    </select>
    <update id="showComment">
        update  xm_menu_comment
        set is_show='1'
        where id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")" >
            #{item }
        </foreach>
    </update>
    <!-- 批量关闭评论 -->
    <update id="unShowComment">
        update  xm_menu_comment
        set is_show='0'
        where id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")" >
            #{item }
        </foreach>
    </update>
    <!-- 批量关闭评论 -->
    <update id="praiseComment">
        update  xm_menu_comment
        set ups=ifnull(ups,0)+1
        where id = #{id}
    </update>
    <update id="updateChildrenSum" parameterType="HashMap">
        update xm_menu_comment res set res.child_nums=ifnull(res.child_nums,0) + #{addCount}
        where id=#{pid}
    </update>
</mapper>