<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.mapper.XmProjectStateMapper">

    <select id="selectListMapByWhere" resultType="HashMap">
        select * from xm_project_state res
        <where>
            ${@com.mdp.Util@trimWhere(ew.customSqlSegment)}
            <!--下面可以添加更多查询条件，正常的if 条件都是支持的-->

        </where>
        <!--下面双引号内可以添加默认排序，如果前端没有上传排序，将使用引号内的排序规则-->
        ${@com.mdp.Util@trimOrderBy(ew.customSqlSegment,'')}
        <!--下面双引号内可以添加默认分组，如果前端没有上传分组，将使用引号内的分组规则-->
        ${@com.mdp.Util@trimGroupBy(ew.customSqlSegment,'')}
    </select>
    <update id="loadTasksToXmProjectState" parameterType="String" statementType="CALLABLE">
        {call load_tasks_to_xm_project_state(#{projectId,mode=IN})}
    </update>
    <update id="loadTasksSettleToXmProjectState" parameterType="String" statementType="CALLABLE">
        {call load_tasks_settle_to_xm_project_state(#{projectId,mode=IN})}
    </update>


    <select id="selectPortalProjectStates" parameterType="HashMap" resultType="HashMap">
        select * from XM.xm_project_state res
        <where>
            res.calc_time > DATE_SUB(now(),INTERVAL 7 DAY)
        </where>
    </select>
</mapper>