<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.entity.XmBudgetNlabor">
	
	
	<!--开始 自定sql函数区域 请在此区域添加自定义函数,其它区域尽量不要动，因为代码随时重新生成 -->

    <sql id="whereForMap">
         <if test=" ids != null">  and (res.id) in
             <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >
                 ( #{item})
             </foreach>
         </if>
        <if test="key != null and key !='' ">       </if>
    </sql>


	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="listSum" parameterType="HashMap" resultType="HashMap">
		select res.project_id,res.subject_id,res.subject_name,biz_month,sum(res.budget_at) as budget_at from  xm_budget_nlabor res
		<where>
			and res.project_id=#{projectId}
			<if test="subjectId != null and subjectId !='' ">     and res.subject_id =#{subjectId} </if>
			<if test="costType != null and costType !='' ">     and res.cost_type =#{costType} </if>
		</where>
		group by res.project_id ,res.subject_id,res.subject_name,res.biz_month
	</select>
	<!-- 查询非人力的预算及对应的项目的预算，非人力总预算不能大于项目非人力总预算 -->
	<select id="selectTotalProjectAndNouserBudgetCost" parameterType="HashMap" resultType="HashMap">
		SELECT
		sum(  ifnull(res.budget_at,0)   ) AS budget_at,
		p.plan_nouser_at,
		p.plan_iuser_at,
		p.plan_ouser_at,
		p.locked,
		p.plan_workload,
		p.total_receivables,
		p.budget_margin_rate,
		p.contract_amt,
		p.plan_iuser_price,
		p.plan_ouser_price,
		p.plan_ouser_cnt,
		p.plan_iuser_cnt,
		p.plan_working_hours
		FROM
		XM.xm_project p
		LEFT JOIN xm_budget_nlabor res ON p.id = res.project_id
		<where>
			p.id = #{projectId}
			<if test=" excludeIds !=null "> and res.id not in
				<foreach collection="excludeIds" item="item" index="index" open="(" separator="," close=")" >
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from xm_budget_nlabor res
		<where>
		    <include refid="whereForMap"/>
			<include refid="where"/>
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.core.entity.XmBudgetNlabor" resultType="com.xm.core.entity.XmBudgetNlabor">
		select * from xm_budget_nlabor res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.core.entity.XmBudgetNlabor" resultType="com.xm.core.entity.XmBudgetNlabor">
		select * from xm_budget_nlabor res
		where 
			res.id = #{id}
	</select>
    <select id="selectListByIds" parameterType="List" resultType="com.xm.core.entity.XmBudgetNlabor">
        select * from xm_budget_nlabor res
        where  (res.id) in
             <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                 ( #{item})
             </foreach>
    </select>
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from xm_budget_nlabor res
		where 
			 res.id = #{id}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.core.entity.XmBudgetNlabor" resultType="long">
		select count(*) from xm_budget_nlabor res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键id,-->
	<insert id="insert" parameterType="com.xm.core.entity.XmBudgetNlabor" useGeneratedKeys="false"   keyProperty="id">
		insert into xm_budget_nlabor(
			<include refid="columns"/>
		) values (
		#{id},#{projectId},#{budgetAt},#{remark},#{subjectId},#{bizSdate},#{bizEdate},#{instId},#{bizFlowState},#{costType},#{bizMonth},#{subjectName},#{branchId}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.core.entity.XmBudgetNlabor">
		delete from xm_budget_nlabor res
		<where>  
			<include refid="where"/>
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.core.entity.XmBudgetNlabor">
		delete from xm_budget_nlabor 
		where id = #{id} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.core.entity.XmBudgetNlabor">
		update  xm_budget_nlabor 
		<set>
			<include refid="someFieldSet"/>
		</set>
		where id = #{id} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.core.entity.XmBudgetNlabor">
		update  xm_budget_nlabor 
		<set>
			<include refid="set"/>
		</set>
		where id = #{id} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  xm_budget_nlabor 
		set 
			<include refid="batchSet"/>
			where id = #{item.id}  
		</foreach> 
	</update>

	<!-- 批量修改某几个字段 -->
	<delete id="editSomeFields" parameterType="HashMap">
		update  xm_budget_nlabor
        <set>
            <include refid="someFieldSet"/>
        </set>
        where  (id) in
             <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >
                 ( #{item})
             </foreach>
	</delete>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from xm_budget_nlabor 
			where
			(id) in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                    (  #{item.id} )
                </foreach>
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		id,project_id,budget_at,remark,subject_id,biz_sdate,biz_edate,inst_id,biz_flow_state,cost_type,biz_month,subject_name,branch_id
	</sql>

	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="id != null and id != ''">      and res.id = #{id}     </if>
		<if test="projectId != null and projectId != ''">      and res.project_id = #{projectId}     </if>
		<if test="budgetAt != null and budgetAt != ''">      and res.budget_at = #{budgetAt}     </if>
		<if test="remark != null and remark != ''">      and res.remark = #{remark}     </if>
		<if test="subjectId != null and subjectId != ''">      and res.subject_id = #{subjectId}     </if>
		<if test="bizSdate != null">      and date_format(res.biz_sdate,'%Y-%m-%d') = date_format(#{bizSdate},'%Y-%m-%d')     </if>
		<if test="bizEdate != null">      and date_format(res.biz_edate,'%Y-%m-%d') = date_format(#{bizEdate},'%Y-%m-%d')     </if>
		<if test="instId != null and instId != ''">      and res.inst_id = #{instId}     </if>
		<if test="bizFlowState != null and bizFlowState != ''">      and res.biz_flow_state = #{bizFlowState}     </if>
		<if test="costType != null and costType != ''">      and res.cost_type = #{costType}     </if>
		<if test="bizMonth != null and bizMonth != ''">      and res.biz_month = #{bizMonth}     </if>
		<if test="subjectName != null and subjectName != ''">      and res.subject_name = #{subjectName}     </if>
		<if test="branchId != null and branchId != ''">      and res.branch_id = #{branchId}     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		project_id = #{projectId},
		budget_at = #{budgetAt},
		remark = #{remark},
		subject_id = #{subjectId},
		biz_sdate = #{bizSdate},
		biz_edate = #{bizEdate},
		inst_id = #{instId},
		biz_flow_state = #{bizFlowState},
		cost_type = #{costType},
		biz_month = #{bizMonth},
		subject_name = #{subjectName},
		branch_id = #{branchId}
	</sql>
	<sql id="someFieldSet">
		<if test="projectId != null and projectId != ''"> project_id = #{projectId},     </if>
		<if test="budgetAt != null and budgetAt != ''"> budget_at = #{budgetAt},     </if>
		<if test="remark != null and remark != ''"> remark = #{remark},     </if>
		<if test="subjectId != null and subjectId != ''"> subject_id = #{subjectId},     </if>
		<if test="bizSdate != null"> biz_sdate = #{bizSdate},     </if>
		<if test="bizEdate != null"> biz_edate = #{bizEdate},     </if>
		<if test="instId != null and instId != ''"> inst_id = #{instId},     </if>
		<if test="bizFlowState != null and bizFlowState != ''"> biz_flow_state = #{bizFlowState},     </if>
		<if test="costType != null and costType != ''"> cost_type = #{costType},     </if>
		<if test="bizMonth != null and bizMonth != ''"> biz_month = #{bizMonth},     </if>
		<if test="subjectName != null and subjectName != ''"> subject_name = #{subjectName},     </if>
		<if test="branchId != null and branchId != ''"> branch_id = #{branchId},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			project_id = #{item.projectId},
			budget_at = #{item.budgetAt},
			remark = #{item.remark},
			subject_id = #{item.subjectId},
			biz_sdate = #{item.bizSdate},
			biz_edate = #{item.bizEdate},
			inst_id = #{item.instId},
			biz_flow_state = #{item.bizFlowState},
			cost_type = #{item.costType},
			biz_month = #{item.bizMonth},
			subject_name = #{item.subjectName},
			branch_id = #{item.branchId}
	</sql>
</mapper>