<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.entity.XmCostNlabor">
	
	
	<!--开始 自定sql函数区域 请在此区域添加自定义函数,其它区域尽量不要动，因为代码随时重新生成 -->

    <sql id="whereForMap">
         <if test=" ids != null">  and (res.id) in
             <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >
                 ( #{item})
             </foreach>
         </if>
        <if test="key != null and key !='' ">       </if>
    </sql>
	<!-- 查询非人力的支出及对应的项目的预算，非人力支出不能大于项目非人力总预算 -->
	<select id="selectTotalProjectAndNouserActCost" parameterType="HashMap" resultType="HashMap">
		SELECT
		sum(  ifnull(res.act_at,0)   ) AS act_cost_nouser_amount,
		p.plan_nouser_at,
		p.plan_iuser_at,
		p.plan_ouser_at,
		p.locked,
		p.plan_workload,
		p.total_receivables,
		p.budget_margin_rate,
		p.contract_amt,
		p.plan_iuser_price,
		p.plan_ouser_price,
		p.plan_ouser_cnt,
		p.plan_iuser_cnt,
		p.plan_working_hours
		FROM
		XM.xm_project p
		LEFT JOIN xm_cost_nlabor res ON p.id = res.project_id
		<where>
			p.id = #{projectId}
			<if test=" excludeIds !=null "> and res.id not in
				<foreach collection="excludeIds" item="item" index="index" open="(" separator="," close=")" >
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="listSum" parameterType="HashMap" resultType="HashMap">
		select res.project_id,res.subject_id,res.subject_name,biz_month,sum(res.act_at) as act_at from  xm_cost_nlabor res
		<where>
			and res.project_id=#{projectId}
			<if test="subjectId != null and subjectId !='' ">     and res.subject_id =#{subjectId} </if>
			<if test="costType != null and costType !='' ">     and res.cost_type =#{costType} </if>
		</where>
		group by res.project_id ,res.subject_id,res.subject_name,res.biz_month
	</select>

	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from xm_cost_nlabor res
		<where>
		    <include refid="whereForMap"/>
			<include refid="where"/>
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.core.entity.XmCostNlabor" resultType="com.xm.core.entity.XmCostNlabor">
		select * from xm_cost_nlabor res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.core.entity.XmCostNlabor" resultType="com.xm.core.entity.XmCostNlabor">
		select * from xm_cost_nlabor res
		where 
			res.id = #{id}
	</select>
    <select id="selectListByIds" parameterType="List" resultType="com.xm.core.entity.XmCostNlabor">
        select * from xm_cost_nlabor res
        where  (res.id) in
             <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                 ( #{item})
             </foreach>
    </select>
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from xm_cost_nlabor res
		where 
			 res.id = #{id}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.core.entity.XmCostNlabor" resultType="long">
		select count(*) from xm_cost_nlabor res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键id,-->
	<insert id="insert" parameterType="com.xm.core.entity.XmCostNlabor" useGeneratedKeys="false"   keyProperty="id">
		insert into xm_cost_nlabor(
			<include refid="columns"/>
		) values (
		#{projectId},#{userid},#{ctime},#{sendTime},#{username},#{projectName},#{remark},#{id},#{taskId},#{taskName},#{subjectId},#{bizSdate},#{bizEdate},#{actAt},#{costType},#{bizMonth},#{bizDate},#{subjectName},#{ubranchId},#{branchId}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.core.entity.XmCostNlabor">
		delete from xm_cost_nlabor res
		<where>  
			<include refid="where"/>
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.core.entity.XmCostNlabor">
		delete from xm_cost_nlabor 
		where id = #{id} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.core.entity.XmCostNlabor">
		update  xm_cost_nlabor 
		<set>
			<include refid="someFieldSet"/>
		</set>
		where id = #{id} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.core.entity.XmCostNlabor">
		update  xm_cost_nlabor 
		<set>
			<include refid="set"/>
		</set>
		where id = #{id} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  xm_cost_nlabor 
		set 
			<include refid="batchSet"/>
			where id = #{item.id}  
		</foreach> 
	</update>

	<!-- 批量修改某几个字段 -->
	<delete id="editSomeFields" parameterType="HashMap">
		update  xm_cost_nlabor
        <set>
            <include refid="someFieldSet"/>
        </set>
        where  (id) in
             <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >
                 ( #{item})
             </foreach>
	</delete>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from xm_cost_nlabor 
			where
			(id) in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                    (  #{item.id} )
                </foreach>
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		project_id,userid,ctime,send_time,username,project_name,remark,id,task_id,task_name,subject_id,biz_sdate,biz_edate,act_at,cost_type,biz_month,biz_date,subject_name,ubranch_id,branch_id
	</sql>

	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="projectId != null and projectId != ''">      and res.project_id = #{projectId}     </if>
		<if test="userid != null and userid != ''">      and res.userid = #{userid}     </if>
		<if test="ctime != null">      and date_format(res.ctime,'%Y-%m-%d') = date_format(#{ctime},'%Y-%m-%d')     </if>
		<if test="sendTime != null">      and date_format(res.send_time,'%Y-%m-%d') = date_format(#{sendTime},'%Y-%m-%d')     </if>
		<if test="username != null and username != ''">      and res.username = #{username}     </if>
		<if test="projectName != null and projectName != ''">      and res.project_name = #{projectName}     </if>
		<if test="remark != null and remark != ''">      and res.remark = #{remark}     </if>
		<if test="id != null and id != ''">      and res.id = #{id}     </if>
		<if test="taskId != null and taskId != ''">      and res.task_id = #{taskId}     </if>
		<if test="taskName != null and taskName != ''">      and res.task_name = #{taskName}     </if>
		<if test="subjectId != null and subjectId != ''">      and res.subject_id = #{subjectId}     </if>
		<if test="bizSdate != null">      and date_format(res.biz_sdate,'%Y-%m-%d') = date_format(#{bizSdate},'%Y-%m-%d')     </if>
		<if test="bizEdate != null">      and date_format(res.biz_edate,'%Y-%m-%d') = date_format(#{bizEdate},'%Y-%m-%d')     </if>
		<if test="actAt != null and actAt != ''">      and res.act_at = #{actAt}     </if>
		<if test="costType != null and costType != ''">      and res.cost_type = #{costType}     </if>
		<if test="bizMonth != null and bizMonth != ''">      and res.biz_month = #{bizMonth}     </if>
		<if test="bizDate != null and bizDate != ''">      and res.biz_date = #{bizDate}     </if>
		<if test="subjectName != null and subjectName != ''">      and res.subject_name = #{subjectName}     </if>
		<if test="ubranchId != null and ubranchId != ''">      and res.ubranch_id = #{ubranchId}     </if>
		<if test="branchId != null and branchId != ''">      and res.branch_id = #{branchId}     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		project_id = #{projectId},
		userid = #{userid},
		ctime = #{ctime},
		send_time = #{sendTime},
		username = #{username},
		project_name = #{projectName},
		remark = #{remark},
		task_id = #{taskId},
		task_name = #{taskName},
		subject_id = #{subjectId},
		biz_sdate = #{bizSdate},
		biz_edate = #{bizEdate},
		act_at = #{actAt},
		cost_type = #{costType},
		biz_month = #{bizMonth},
		biz_date = #{bizDate},
		subject_name = #{subjectName},
		ubranch_id = #{ubranchId},
		branch_id = #{branchId}
	</sql>
	<sql id="someFieldSet">
		<if test="projectId != null and projectId != ''"> project_id = #{projectId},     </if>
		<if test="userid != null and userid != ''"> userid = #{userid},     </if>
		<if test="ctime != null"> ctime = #{ctime},     </if>
		<if test="sendTime != null"> send_time = #{sendTime},     </if>
		<if test="username != null and username != ''"> username = #{username},     </if>
		<if test="projectName != null and projectName != ''"> project_name = #{projectName},     </if>
		<if test="remark != null and remark != ''"> remark = #{remark},     </if>
		<if test="taskId != null and taskId != ''"> task_id = #{taskId},     </if>
		<if test="taskName != null and taskName != ''"> task_name = #{taskName},     </if>
		<if test="subjectId != null and subjectId != ''"> subject_id = #{subjectId},     </if>
		<if test="bizSdate != null"> biz_sdate = #{bizSdate},     </if>
		<if test="bizEdate != null"> biz_edate = #{bizEdate},     </if>
		<if test="actAt != null and actAt != ''"> act_at = #{actAt},     </if>
		<if test="costType != null and costType != ''"> cost_type = #{costType},     </if>
		<if test="bizMonth != null and bizMonth != ''"> biz_month = #{bizMonth},     </if>
		<if test="bizDate != null and bizDate != ''"> biz_date = #{bizDate},     </if>
		<if test="subjectName != null and subjectName != ''"> subject_name = #{subjectName},     </if>
		<if test="ubranchId != null and ubranchId != ''"> ubranch_id = #{ubranchId},     </if>
		<if test="branchId != null and branchId != ''"> branch_id = #{branchId},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			project_id = #{item.projectId},
			userid = #{item.userid},
			ctime = #{item.ctime},
			send_time = #{item.sendTime},
			username = #{item.username},
			project_name = #{item.projectName},
			remark = #{item.remark},
			task_id = #{item.taskId},
			task_name = #{item.taskName},
			subject_id = #{item.subjectId},
			biz_sdate = #{item.bizSdate},
			biz_edate = #{item.bizEdate},
			act_at = #{item.actAt},
			cost_type = #{item.costType},
			biz_month = #{item.bizMonth},
			biz_date = #{item.bizDate},
			subject_name = #{item.subjectName},
			ubranch_id = #{item.ubranchId},
			branch_id = #{item.branchId}
	</sql>
</mapper>