<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.entity.XmMyFocus">
	
	
	<!--开始 自定sql函数区域 请在此区域添加自定义函数,其它区域尽量不要动，因为代码随时重新生成 -->

    <sql id="whereForMap">
         <if test=" pkList != null">  and (res.userid, res.biz_id, res.pbiz_id) in
             <foreach collection="pkList" item="item" index="index" open="(" separator="," close=")" >
                ( #{item.userid},  #{item.bizId},  #{item.pbizId})
             </foreach>
         </if>
        <if test="key != null and key !='' ">       </if>
    </sql>


	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from xm_my_focus res
		<where>
		    <include refid="whereForMap"/>
			<include refid="where"/>
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.core.entity.XmMyFocus" resultType="com.xm.core.entity.XmMyFocus">
		select * from xm_my_focus res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.core.entity.XmMyFocus" resultType="com.xm.core.entity.XmMyFocus">
		select * from xm_my_focus res
		where 
			res.userid = #{userid}
			and res.biz_id = #{bizId}
			and res.pbiz_id = #{pbizId}
	</select>
    <select id="selectListByIds" parameterType="List" resultType="com.xm.core.entity.XmMyFocus">
        select * from xm_my_focus res
        where  (res.userid, res.biz_id, res.pbiz_id) in
             <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                ( #{item.userid},  #{item.bizId},  #{item.pbizId})
             </foreach>
    </select>
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from xm_my_focus res
		where 
			 res.userid = #{userid}
			and  res.biz_id = #{bizId}
			and  res.pbiz_id = #{pbizId}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.core.entity.XmMyFocus" resultType="long">
		select count(*) from xm_my_focus res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键userid,biz_id,pbiz_id,-->
	<insert id="insert" parameterType="com.xm.core.entity.XmMyFocus" useGeneratedKeys="false"  >
		insert into xm_my_focus(
			<include refid="columns"/>
		) values (
		#{userid},#{username},#{bizId},#{focusType},#{pbizId},#{bizName},#{pbizName},#{ftime},#{ubranchId}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.core.entity.XmMyFocus">
		delete from xm_my_focus res
		<where>  
			<include refid="where"/>
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.core.entity.XmMyFocus">
		delete from xm_my_focus 
		where userid = #{userid} and biz_id = #{bizId} and pbiz_id = #{pbizId} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.core.entity.XmMyFocus">
		update  xm_my_focus 
		<set>
			<include refid="someFieldSet"/>
		</set>
		where userid = #{userid} and biz_id = #{bizId} and pbiz_id = #{pbizId} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.core.entity.XmMyFocus">
		update  xm_my_focus 
		<set>
			<include refid="set"/>
		</set>
		where userid = #{userid} and biz_id = #{bizId} and pbiz_id = #{pbizId} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  xm_my_focus 
		set 
			<include refid="batchSet"/>
			where userid = #{item.userid} and biz_id = #{item.bizId} and pbiz_id = #{item.pbizId}  
		</foreach> 
	</update>

	<!-- 批量修改某几个字段 -->
	<delete id="editSomeFields" parameterType="HashMap">
		update  xm_my_focus
        <set>
            <include refid="someFieldSet"/>
        </set>
        where  (userid, biz_id, pbiz_id) in
             <foreach collection="pkList" item="item" index="index" open="(" separator="," close=")" >
                ( #{item.userid},  #{item.bizId},  #{item.pbizId})
             </foreach>
	</delete>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from xm_my_focus 
			where
			(userid, biz_id, pbiz_id) in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                    (  #{item.userid},  #{item.bizId},  #{item.pbizId} )
                </foreach>
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		userid,username,biz_id,focus_type,pbiz_id,biz_name,pbiz_name,ftime,ubranch_id
	</sql>

	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="userid != null and userid != ''">      and res.userid = #{userid}     </if>
		<if test="username != null and username != ''">      and res.username = #{username}     </if>
		<if test="bizId != null and bizId != ''">      and res.biz_id = #{bizId}     </if>
		<if test="focusType != null and focusType != ''">      and res.focus_type = #{focusType}     </if>
		<if test="pbizId != null and pbizId != ''">      and res.pbiz_id = #{pbizId}     </if>
		<if test="bizName != null and bizName != ''">      and res.biz_name = #{bizName}     </if>
		<if test="pbizName != null and pbizName != ''">      and res.pbiz_name = #{pbizName}     </if>
		<if test="ftime != null">      and date_format(res.ftime,'%Y-%m-%d') = date_format(#{ftime},'%Y-%m-%d')     </if>
		<if test="ubranchId != null and ubranchId != ''">      and res.ubranch_id = #{ubranchId}     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		username = #{username},
		focus_type = #{focusType},
		biz_name = #{bizName},
		pbiz_name = #{pbizName},
		ftime = #{ftime},
		ubranch_id = #{ubranchId}
	</sql>
	<sql id="someFieldSet">
		<if test="username != null and username != ''"> username = #{username},     </if>
		<if test="focusType != null and focusType != ''"> focus_type = #{focusType},     </if>
		<if test="bizName != null and bizName != ''"> biz_name = #{bizName},     </if>
		<if test="pbizName != null and pbizName != ''"> pbiz_name = #{pbizName},     </if>
		<if test="ftime != null"> ftime = #{ftime},     </if>
		<if test="ubranchId != null and ubranchId != ''"> ubranch_id = #{ubranchId},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			username = #{item.username},
			focus_type = #{item.focusType},
			biz_name = #{item.bizName},
			pbiz_name = #{item.pbizName},
			ftime = #{item.ftime},
			ubranch_id = #{item.ubranchId}
	</sql>
</mapper>