<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.entity.XmProductProjectLink">
	
	
	<!--开始 自定sql函数区域 -->
		<!--请在此区域添加自定义函数-->
		
		
		
	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from XM.xm_product_project_link res
		<where> 
			<if test="ids != null">  and     
				project_id in
				    <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >  
				        #{item}  
				    </foreach>  
			 </if>
			<include refid="where"/>
			<if test="key != null and key !='' ">       </if> 
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.core.entity.XmProductProjectLink" resultType="com.xm.core.entity.XmProductProjectLink">
		select * from XM.xm_product_project_link res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.core.entity.XmProductProjectLink" resultType="com.xm.core.entity.XmProductProjectLink">
		select * from XM.xm_product_project_link res
		where 
			res.project_id = #{projectId}
			and res.product_id = #{productId}
	</select>
	
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from XM.xm_product_project_link res
		where 
			 res.project_id = #{projectId}
			and  res.product_id = #{productId}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.core.entity.XmProductProjectLink" resultType="long">
		select count(1) from XM.xm_product_project_link res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键project_id,product_id,-->
	<insert id="insert" parameterType="com.xm.core.entity.XmProductProjectLink" useGeneratedKeys="false"  >
		insert into XM.xm_product_project_link(
			<include refid="columns"/>
		) values (
		#{projectId},#{productId},#{ctime},#{cuserid},#{cusername},#{linkStatus}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.core.entity.XmProductProjectLink">
		delete from XM.xm_product_project_link
		<where>  
			1=2
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.core.entity.XmProductProjectLink">
		delete from XM.xm_product_project_link 
		where project_id = #{projectId} and product_id = #{productId} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.core.entity.XmProductProjectLink">
		update  XM.xm_product_project_link 
		<set>
			<include refid="someFieldSet"/>
		</set>
		where project_id = #{projectId} and product_id = #{productId} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.core.entity.XmProductProjectLink">
		update  XM.xm_product_project_link 
		<set>
			<include refid="set"/>
		</set>
		where project_id = #{projectId} and product_id = #{productId} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  XM.xm_product_project_link 
		set 
			<include refid="batchSet"/>
			where project_id = #{item.projectId} and product_id = #{item.productId}  
		</foreach> 
	</update>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from XM.xm_product_project_link 
			where
			(project_id, product_id)
			    in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                    ( #{item.projectId},  #{item.productId}
                    )
                </foreach>
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		project_id,product_id,ctime,cuserid,cusername,link_status
	</sql>

	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="projectId != null and projectId != ''">      and res.project_id = #{projectId}     </if>
		<if test="productId != null and productId != ''">      and res.product_id = #{productId}     </if>
		<if test="ctime != null">      and date_format(res.ctime,'%Y-%m-%d') = date_format(#{ctime},'%Y-%m-%d')     </if>
		<if test="cuserid != null and cuserid != ''">      and res.cuserid = #{cuserid}     </if>
		<if test="cusername != null and cusername != ''">      and res.cusername = #{cusername}     </if>
		<if test="linkStatus != null and linkStatus != ''">      and res.link_status = #{linkStatus}     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		ctime = #{ctime},
		cuserid = #{cuserid},
		cusername = #{cusername},
		link_status = #{linkStatus}
	</sql>
	<sql id="someFieldSet">
		<if test="ctime != null"> ctime = #{ctime},     </if>
		<if test="cuserid != null and cuserid != ''"> cuserid = #{cuserid},     </if>
		<if test="cusername != null and cusername != ''"> cusername = #{cusername},     </if>
		<if test="linkStatus != null and linkStatus != ''"> link_status = #{linkStatus},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			ctime = #{item.ctime},
			cuserid = #{item.cuserid},
			cusername = #{item.cusername},
			link_status = #{item.linkStatus}
	</sql>
</mapper>