<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.entity.XmProjectKpiHis">
	
	
	<!--开始 自定sql函数区域 -->
		<!--请在此区域添加自定义函数-->
		
		
		
	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from xm_project_kpi_his res
		<where> 
			<if test="ids != null">  and     
				kpi_id in
				    <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >  
				        #{item}  
				    </foreach>  
			 </if>
			<include refid="where"/>
			<if test="key != null and key !='' ">       </if> 
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.core.entity.XmProjectKpiHis" resultType="com.xm.core.entity.XmProjectKpiHis">
		select * from xm_project_kpi_his res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.core.entity.XmProjectKpiHis" resultType="com.xm.core.entity.XmProjectKpiHis">
		select * from xm_project_kpi_his res
		where 
			res.kpi_id = #{kpiId}
	</select>
	
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from xm_project_kpi_his res
		where 
			 res.kpi_id = #{kpiId}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.core.entity.XmProjectKpiHis" resultType="long">
		select count(1) from xm_project_kpi_his res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键kpi_id,-->
	<insert id="insert" parameterType="com.xm.core.entity.XmProjectKpiHis" useGeneratedKeys="false" keyProperty="kpi_id">
		insert into xm_project_kpi_his(
			<include refid="columns"/>
		) values (
		#{projectId},#{branchId},#{kpiIndex},#{kpiName},#{maxValue},#{minValue},#{kpiId},#{score},#{scoreDate},#{bizFlowState},#{bizProcInstId},#{kpiValue},#{cdate},#{id},#{remark},#{calcType},#{nextCalcDate}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.core.entity.XmProjectKpiHis">
		delete from xm_project_kpi_his res
		<where>  
			<include refid="where"/>
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.core.entity.XmProjectKpiHis">
		delete from xm_project_kpi_his
		where kpi_id = #{kpiId} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.core.entity.XmProjectKpiHis">
		update  xm_project_kpi_his
		<set>
			<include refid="someFieldSet"/>
		</set>
		where kpi_id = #{kpiId} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.core.entity.XmProjectKpiHis">
		update  xm_project_kpi_his
		<set>
			<include refid="set"/>
		</set>
		where kpi_id = #{kpiId} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  xm_project_kpi_his
		set 
			<include refid="batchSet"/>
			where kpi_id = #{item.kpiId}  
		</foreach> 
	</update>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from xm_project_kpi_his
			where kpi_id in
			    <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >  
			        #{item.kpiId }  
			    </foreach>  
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		project_id,branch_id,kpi_index,kpi_name,max_value,min_value,kpi_id,score,score_date,biz_flow_state,biz_proc_inst_id,kpi_value,cdate,id,remark,calc_type,next_calc_date
	</sql>
	
	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="projectId != null and projectId != ''">      and res.project_id = #{projectId}     </if>
		<if test="branchId != null and branchId != ''">      and res.branch_id = #{branchId}     </if>
		<if test="kpiIndex != null and kpiIndex != ''">      and res.kpi_index = #{kpiIndex}     </if>
		<if test="kpiName != null and kpiName != ''">      and res.kpi_name = #{kpiName}     </if>
		<if test="maxValue != null and maxValue != ''">      and res.max_value = #{maxValue}     </if>
		<if test="minValue != null and minValue != ''">      and res.min_value = #{minValue}     </if>
		<if test="kpiId != null and kpiId != ''">      and res.kpi_id = #{kpiId}     </if>
		<if test="score != null and score != ''">      and res.score = #{score}     </if>
		<if test="scoreDate != null">      and TO_CHAR(res.score_date,'YYYY-MM-DD') = TO_CHAR(#{scoreDate},'YYYY-MM-DD')     </if>
		<if test="bizFlowState != null and bizFlowState != ''">      and res.biz_flow_state = #{bizFlowState}     </if>
		<if test="bizProcInstId != null and bizProcInstId != ''">      and res.biz_proc_inst_id = #{bizProcInstId}     </if>
		<if test="kpiValue != null and kpiValue != ''">      and res.kpi_value = #{kpiValue}     </if>
		<if test="cdate != null">      and TO_CHAR(res.cdate,'YYYY-MM-DD') = TO_CHAR(#{cdate},'YYYY-MM-DD')     </if>
		<if test="id != null and id != ''">      and res.id = #{id}     </if>
		<if test="remark != null and remark != ''">      and res.remark = #{remark}     </if>
		<if test="calcType != null and calcType != ''">      and res.calc_type = #{calcType}     </if>
		<if test="nextCalcDate != null">      and TO_CHAR(res.next_calc_date,'YYYY-MM-DD') = TO_CHAR(#{nextCalcDate},'YYYY-MM-DD')     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		project_id = #{projectId},
		branch_id = #{branchId},
		kpi_index = #{kpiIndex},
		kpi_name = #{kpiName},
		max_value = #{maxValue},
		min_value = #{minValue},
		score = #{score},
		score_date = #{scoreDate},
		biz_flow_state = #{bizFlowState},
		biz_proc_inst_id = #{bizProcInstId},
		kpi_value = #{kpiValue},
		cdate = #{cdate},
		id = #{id},
		remark = #{remark},
		calc_type = #{calcType},
		next_calc_date = #{nextCalcDate}
	</sql>
	<sql id="someFieldSet">
		<if test="projectId != null and projectId != ''"> project_id = #{projectId},     </if>
		<if test="branchId != null and branchId != ''"> branch_id = #{branchId},     </if>
		<if test="kpiIndex != null and kpiIndex != ''"> kpi_index = #{kpiIndex},     </if>
		<if test="kpiName != null and kpiName != ''"> kpi_name = #{kpiName},     </if>
		<if test="maxValue != null and maxValue != ''"> max_value = #{maxValue},     </if>
		<if test="minValue != null and minValue != ''"> min_value = #{minValue},     </if>
		<if test="score != null and score != ''"> score = #{score},     </if>
		<if test="scoreDate != null"> score_date = #{scoreDate},     </if>
		<if test="bizFlowState != null and bizFlowState != ''"> biz_flow_state = #{bizFlowState},     </if>
		<if test="bizProcInstId != null and bizProcInstId != ''"> biz_proc_inst_id = #{bizProcInstId},     </if>
		<if test="kpiValue != null and kpiValue != ''"> kpi_value = #{kpiValue},     </if>
		<if test="cdate != null"> cdate = #{cdate},     </if>
		<if test="id != null and id != ''"> id = #{id},     </if>
		<if test="remark != null and remark != ''"> remark = #{remark},     </if>
		<if test="calcType != null and calcType != ''"> calc_type = #{calcType},     </if>
		<if test="nextCalcDate != null"> next_calc_date = #{nextCalcDate},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			project_id = #{item.projectId},
			branch_id = #{item.branchId},
			kpi_index = #{item.kpiIndex},
			kpi_name = #{item.kpiName},
			max_value = #{item.maxValue},
			min_value = #{item.minValue},
			score = #{item.score},
			score_date = #{item.scoreDate},
			biz_flow_state = #{item.bizFlowState},
			biz_proc_inst_id = #{item.bizProcInstId},
			kpi_value = #{item.kpiValue},
			cdate = #{item.cdate},
			id = #{item.id},
			remark = #{item.remark},
			calc_type = #{item.calcType},
			next_calc_date = #{item.nextCalcDate}
	</sql>
</mapper>