<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.entity.XmProjectPhaseBaseline">
	
	
	<!--开始 自定sql函数区域 -->
		<!--请在此区域添加自定义函数-->
		
		
		
	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from xm_project_phase_baseline res
		<where> 
			<if test="ids != null">  and     
				id in
				    <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >  
				        #{item}  
				    </foreach>  
			 </if>
			<include refid="where"/>
			<if test="key != null and key !='' ">       </if> 
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.core.entity.XmProjectPhaseBaseline" resultType="com.xm.core.entity.XmProjectPhaseBaseline">
		select * from xm_project_phase_baseline res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.core.entity.XmProjectPhaseBaseline" resultType="com.xm.core.entity.XmProjectPhaseBaseline">
		select * from xm_project_phase_baseline res
		where 
			res.id = #{id}
	</select>
	
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from xm_project_phase_baseline res
		where 
			 res.id = #{id}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.core.entity.XmProjectPhaseBaseline" resultType="long">
		select count(1) from xm_project_phase_baseline res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键id,-->
	<insert id="insert" parameterType="com.xm.core.entity.XmProjectPhaseBaseline" useGeneratedKeys="false" keyProperty="id">
		insert into xm_project_phase_baseline(
			<include refid="columns"/>
		) values (
		#{baseCtime},#{projectPhaseId},#{phaseName},#{remark},#{parentPhaseId},#{branchId},#{projectId},#{beginDate},#{endDate},#{planWorkingHours},#{planWorkingStaffNu},#{ctime},#{totalBudgetNouser},#{totalBudgetInnerUser},#{totalBudgetOutUser},#{id},#{baseRemark},#{projectBaselineId},#{bizProcInstId},#{bizFlowState},#{totalBudgetWorkload},#{totalActWorkload}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.core.entity.XmProjectPhaseBaseline">
		delete from xm_project_phase_baseline res
		<where>  
			<include refid="where"/>
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.core.entity.XmProjectPhaseBaseline">
		delete from xm_project_phase_baseline
		where id = #{id} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.core.entity.XmProjectPhaseBaseline">
		update  xm_project_phase_baseline
		<set>
			<include refid="someFieldSet"/>
		</set>
		where id = #{id} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.core.entity.XmProjectPhaseBaseline">
		update  xm_project_phase_baseline
		<set>
			<include refid="set"/>
		</set>
		where id = #{id} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  xm_project_phase_baseline
		set 
			<include refid="batchSet"/>
			where id = #{item.id}  
		</foreach> 
	</update>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from xm_project_phase_baseline
			where id in
			    <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >  
			        #{item.id }  
			    </foreach>  
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		base_ctime,project_phase_id,phase_name,remark,parent_phase_id,branch_id,project_id,begin_date,end_date,plan_working_hours,plan_working_staff_nu,ctime,total_budget_nouser,total_budget_inner_user,total_budget_out_user,id,base_remark,project_baseline_id,biz_proc_inst_id,biz_flow_state,total_budget_workload,total_act_workload
	</sql>
	
	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="baseCtime != null">      and TO_CHAR(res.base_ctime,'YYYY-MM-DD') = TO_CHAR(#{baseCtime},'YYYY-MM-DD')     </if>
		<if test="projectPhaseId != null and projectPhaseId != ''">      and res.project_phase_id = #{projectPhaseId}     </if>
		<if test="phaseName != null and phaseName != ''">      and res.phase_name = #{phaseName}     </if>
		<if test="remark != null and remark != ''">      and res.remark = #{remark}     </if>
		<if test="parentPhaseId != null and parentPhaseId != ''">      and res.parent_phase_id = #{parentPhaseId}     </if>
		<if test="branchId != null and branchId != ''">      and res.branch_id = #{branchId}     </if>
		<if test="projectId != null and projectId != ''">      and res.project_id = #{projectId}     </if>
		<if test="beginDate != null">      and TO_CHAR(res.begin_date,'YYYY-MM-DD') = TO_CHAR(#{beginDate},'YYYY-MM-DD')     </if>
		<if test="endDate != null">      and TO_CHAR(res.end_date,'YYYY-MM-DD') = TO_CHAR(#{endDate},'YYYY-MM-DD')     </if>
		<if test="planWorkingHours != null and planWorkingHours != ''">      and res.plan_working_hours = #{planWorkingHours}     </if>
		<if test="planWorkingStaffNu != null and planWorkingStaffNu != ''">      and res.plan_working_staff_nu = #{planWorkingStaffNu}     </if>
		<if test="ctime != null">      and TO_CHAR(res.ctime,'YYYY-MM-DD') = TO_CHAR(#{ctime},'YYYY-MM-DD')     </if>
		<if test="totalBudgetNouser != null and totalBudgetNouser != ''">      and res.total_budget_nouser = #{totalBudgetNouser}     </if>
		<if test="totalBudgetInnerUser != null and totalBudgetInnerUser != ''">      and res.total_budget_inner_user = #{totalBudgetInnerUser}     </if>
		<if test="totalBudgetOutUser != null and totalBudgetOutUser != ''">      and res.total_budget_out_user = #{totalBudgetOutUser}     </if>
		<if test="id != null and id != ''">      and res.id = #{id}     </if>
		<if test="baseRemark != null and baseRemark != ''">      and res.base_remark = #{baseRemark}     </if>
		<if test="projectBaselineId != null and projectBaselineId != ''">      and res.project_baseline_id = #{projectBaselineId}     </if>
		<if test="bizProcInstId != null and bizProcInstId != ''">      and res.biz_proc_inst_id = #{bizProcInstId}     </if>
		<if test="bizFlowState != null and bizFlowState != ''">      and res.biz_flow_state = #{bizFlowState}     </if>
		<if test="totalBudgetWorkload != null and totalBudgetWorkload != ''">      and res.total_budget_workload = #{totalBudgetWorkload}     </if>
		<if test="totalActWorkload != null and totalActWorkload != ''">      and res.total_act_workload = #{totalActWorkload}     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		base_ctime = #{baseCtime},
		project_phase_id = #{projectPhaseId},
		phase_name = #{phaseName},
		remark = #{remark},
		parent_phase_id = #{parentPhaseId},
		branch_id = #{branchId},
		project_id = #{projectId},
		begin_date = #{beginDate},
		end_date = #{endDate},
		plan_working_hours = #{planWorkingHours},
		plan_working_staff_nu = #{planWorkingStaffNu},
		ctime = #{ctime},
		total_budget_nouser = #{totalBudgetNouser},
		total_budget_inner_user = #{totalBudgetInnerUser},
		total_budget_out_user = #{totalBudgetOutUser},
		base_remark = #{baseRemark},
		project_baseline_id = #{projectBaselineId},
		biz_proc_inst_id = #{bizProcInstId},
		biz_flow_state = #{bizFlowState},
		total_budget_workload = #{totalBudgetWorkload},
		total_act_workload = #{totalActWorkload}
	</sql>
	<sql id="someFieldSet">
		<if test="baseCtime != null"> base_ctime = #{baseCtime},     </if>
		<if test="projectPhaseId != null and projectPhaseId != ''"> project_phase_id = #{projectPhaseId},     </if>
		<if test="phaseName != null and phaseName != ''"> phase_name = #{phaseName},     </if>
		<if test="remark != null and remark != ''"> remark = #{remark},     </if>
		<if test="parentPhaseId != null and parentPhaseId != ''"> parent_phase_id = #{parentPhaseId},     </if>
		<if test="branchId != null and branchId != ''"> branch_id = #{branchId},     </if>
		<if test="projectId != null and projectId != ''"> project_id = #{projectId},     </if>
		<if test="beginDate != null"> begin_date = #{beginDate},     </if>
		<if test="endDate != null"> end_date = #{endDate},     </if>
		<if test="planWorkingHours != null and planWorkingHours != ''"> plan_working_hours = #{planWorkingHours},     </if>
		<if test="planWorkingStaffNu != null and planWorkingStaffNu != ''"> plan_working_staff_nu = #{planWorkingStaffNu},     </if>
		<if test="ctime != null"> ctime = #{ctime},     </if>
		<if test="totalBudgetNouser != null and totalBudgetNouser != ''"> total_budget_nouser = #{totalBudgetNouser},     </if>
		<if test="totalBudgetInnerUser != null and totalBudgetInnerUser != ''"> total_budget_inner_user = #{totalBudgetInnerUser},     </if>
		<if test="totalBudgetOutUser != null and totalBudgetOutUser != ''"> total_budget_out_user = #{totalBudgetOutUser},     </if>
		<if test="baseRemark != null and baseRemark != ''"> base_remark = #{baseRemark},     </if>
		<if test="projectBaselineId != null and projectBaselineId != ''"> project_baseline_id = #{projectBaselineId},     </if>
		<if test="bizProcInstId != null and bizProcInstId != ''"> biz_proc_inst_id = #{bizProcInstId},     </if>
		<if test="bizFlowState != null and bizFlowState != ''"> biz_flow_state = #{bizFlowState},     </if>
		<if test="totalBudgetWorkload != null and totalBudgetWorkload != ''"> total_budget_workload = #{totalBudgetWorkload},     </if>
		<if test="totalActWorkload != null and totalActWorkload != ''"> total_act_workload = #{totalActWorkload},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			base_ctime = #{item.baseCtime},
			project_phase_id = #{item.projectPhaseId},
			phase_name = #{item.phaseName},
			remark = #{item.remark},
			parent_phase_id = #{item.parentPhaseId},
			branch_id = #{item.branchId},
			project_id = #{item.projectId},
			begin_date = #{item.beginDate},
			end_date = #{item.endDate},
			plan_working_hours = #{item.planWorkingHours},
			plan_working_staff_nu = #{item.planWorkingStaffNu},
			ctime = #{item.ctime},
			total_budget_nouser = #{item.totalBudgetNouser},
			total_budget_inner_user = #{item.totalBudgetInnerUser},
			total_budget_out_user = #{item.totalBudgetOutUser},
			base_remark = #{item.baseRemark},
			project_baseline_id = #{item.projectBaselineId},
			biz_proc_inst_id = #{item.bizProcInstId},
			biz_flow_state = #{item.bizFlowState},
			total_budget_workload = #{item.totalBudgetWorkload},
			total_act_workload = #{item.totalActWorkload}
	</sql>
</mapper>