<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.entity.XmTaskExecuser">
	
	
	<!--开始 自定sql函数区域 请在此区域添加自定义函数,其它区域尽量不要动，因为代码随时重新生成 -->

    <sql id="whereForMap">
         <if test=" pkList != null">  and (res.task_id, res.userid) in
             <foreach collection="pkList" item="item" index="index" open="(" separator="," close=")" >
                ( #{item.taskId},  #{item.userid})
             </foreach>
         </if>
        <if test="key != null and key !='' ">    and (res.task_name like concat('%',#{key},'%') or res.username like  concat('%',#{key},'%') ) </if>
		<if test="taskState != null and taskState !='' "> and task_state=#{taskState}</if>
		<if test="linkBranchId!=null and linkBranchId!=''">
			and (res.branch_id = #{linkBranchId} or res.exec_user_branch_id=#{linkBranchId})
		</if>
	</sql>
	<update id="updateXmTaskExeUseridsAndUsernamesByTaskId"
			parameterType="String">
		UPDATE xm_task t
		left join
		(
		SELECT
		task_id,
		max(
		CASE

		WHEN e.STATUS != '7'
		AND e.STATUS != '0'
		AND e.STATUS != '8' THEN
		e.quote_amount ELSE NULL
		END
		) AS quote_amount,
		count(*) as exec_users,
		max(
		CASE

		WHEN e.STATUS != '7'
		AND e.STATUS != '0'
		AND e.STATUS != '8' THEN
		e.userid ELSE NULL
		END
		) AS executor_userid,
		max(
		CASE

		WHEN e.STATUS != '7'
		AND e.STATUS != '0'
		AND e.STATUS != '8' THEN
		e.username ELSE NULL
		END
		) AS executor_username,
		group_concat( concat( e.userid, '(', e.STATUS, ')' ) SEPARATOR ',' ) AS exe_userids,
		group_concat(
		concat(
		e.username,
		CASE

		WHEN e.STATUS = '0' THEN
		'(候选)'
		WHEN e.STATUS = '1' THEN
		'(执行中)'
		WHEN e.STATUS = '2' THEN
		'(已提交)'
		WHEN e.STATUS = '3' THEN
		'(已验收)'
		WHEN e.STATUS = '4' THEN
		'(验收不过)'
		WHEN e.STATUS = '6' THEN
		'(已结算)'
		WHEN e.STATUS = '7' THEN
		'(放弃任务)'
		WHEN e.STATUS = '8' THEN
		'(黑名单)' ELSE '(其它)'
		END
		) SEPARATOR ','
		) AS exe_usernames
		FROM
		XM.xm_task_execuser e
		WHERE
		e.task_id = #{taskId} ) e1
		on t.id=e1.task_id
		SET t.exe_userids = e1.exe_userids,
		t.exec_users=e1.exec_users,
		t.exe_usernames = e1.exe_usernames,
		t.executor_userid = e1.executor_userid,
		t.executor_username = e1.executor_username,
		t.task_state=case when e1.executor_userid is null and t.task_state='1' then '0' when e1.executor_userid is not null and t.task_state='0' then '1' else t.task_state end,
		t.bid_step=
			case when t.crowd='0' or t.crowd is null then t.bid_step
				 when t.crowd='1' and (t.estate in( '0','4') or t.estate is null or (t.estate in ('2','3') and t.efunds &lt;e1.quote_amount))  and e1.executor_userid is not null and (t.bid_step is null or t.bid_step in('0','1','2','3')) then '4'
			     when t.crowd='1' and t.estate ='2' and t.efunds &gt;=e1.quote_amount and e1.executor_userid is not null and (t.bid_step is null or t.bid_step in('0','1','2','3','4')) then '5'
		         when t.crowd='1' and e1.executor_userid is null and t.task_state in('0') then '2'
				 else t.bid_step end,
		t.quote_final_at=ifnull(e1.quote_amount,t.quote_final_at)
		WHERE t.id = #{taskId}
	</update>
	<select id="selectListMapByWhereWithTask" parameterType="HashMap" resultType="HashMap">
		select res.*,t.* from xm_task_execuser res left join xm_task t on res.task_id=t.id
		<where>
			<include refid="whereForMap"/>
			<include refid="where"/>
		</where>
	</select>
	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from xm_task_execuser res
		<where>
		    <include refid="whereForMap"/>
			<include refid="where"/>
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.core.entity.XmTaskExecuser" resultType="com.xm.core.entity.XmTaskExecuser">
		select * from xm_task_execuser res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.core.entity.XmTaskExecuser" resultType="com.xm.core.entity.XmTaskExecuser">
		select * from xm_task_execuser res
		where 
			res.task_id = #{taskId}
			and res.userid = #{userid}
	</select>
    <select id="selectListByIds" parameterType="List" resultType="com.xm.core.entity.XmTaskExecuser">
        select * from xm_task_execuser res
        where  (res.task_id, res.userid) in
             <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                ( #{item.taskId},  #{item.userid})
             </foreach>
    </select>
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from xm_task_execuser res
		where 
			 res.task_id = #{taskId}
			and  res.userid = #{userid}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.core.entity.XmTaskExecuser" resultType="long">
		select count(*) from xm_task_execuser res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键task_id,userid,-->
	<insert id="insert" parameterType="com.xm.core.entity.XmTaskExecuser" useGeneratedKeys="false"  >
		insert into xm_task_execuser(
			<include refid="columns"/>
		) values (
		#{createTime},#{taskId},#{userid},#{startTime},#{endTime},#{status},#{remarks},#{createUserid},#{createUsername},#{username},#{matchScore},#{quoteWeekday},#{quoteAmount},#{quoteTime},#{projectId},#{phaseId},#{skillRemark},#{quoteWorkload},#{quoteStartTime},#{quoteEndTime},#{branchId},#{phaseName},#{taskName},#{distUserid},#{distUsername},#{execUserBranchId},#{shareKey},#{sfeeRate},#{sfee},#{provinceId},#{provinceName},#{cityId},#{cityName},#{areaId},#{areaName},#{gradeId},#{guardId},#{ilvlId},#{creditId},#{ctotalBids},#{srvTimes},#{cmonthExp},#{cmonthBids},#{bidDirect},#{skillIds},#{skillNames},#{upRate},#{adjustScore},#{finalScore},#{adjustRemark},#{csixBids},#{csixExp},#{csixAt}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.core.entity.XmTaskExecuser">
		delete from xm_task_execuser res
		<where>  
			<include refid="where"/>
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.core.entity.XmTaskExecuser">
		delete from xm_task_execuser 
		where task_id = #{taskId} and userid = #{userid} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.core.entity.XmTaskExecuser">
		update  xm_task_execuser 
		<set>
			<include refid="someFieldSet"/>
		</set>
		where task_id = #{taskId} and userid = #{userid} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.core.entity.XmTaskExecuser">
		update  xm_task_execuser 
		<set>
			<include refid="set"/>
		</set>
		where task_id = #{taskId} and userid = #{userid} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  xm_task_execuser 
		set 
			<include refid="batchSet"/>
			where task_id = #{item.taskId} and userid = #{item.userid}  
		</foreach> 
	</update>

	<!-- 批量修改某几个字段 -->
	<delete id="editSomeFields" parameterType="HashMap">
		update  xm_task_execuser
        <set>
            <include refid="someFieldSet"/>
        </set>
        where  (task_id, userid) in
             <foreach collection="pkList" item="item" index="index" open="(" separator="," close=")" >
                ( #{item.taskId},  #{item.userid})
             </foreach>
	</delete>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from xm_task_execuser 
			where
			(task_id, userid) in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                    (  #{item.taskId},  #{item.userid} )
                </foreach>
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		create_time,task_id,userid,start_time,end_time,status,remarks,create_userid,create_username,username,match_score,quote_weekday,quote_amount,quote_time,project_id,phase_id,skill_remark,quote_workload,quote_start_time,quote_end_time,branch_id,phase_name,task_name,dist_userid,dist_username,exec_user_branch_id,share_key,sfee_rate,sfee,province_id,province_name,city_id,city_name,area_id,area_name,grade_id,guard_id,ilvl_id,credit_id,ctotal_bids,srv_times,cmonth_exp,cmonth_bids,bid_direct,skill_ids,skill_names,up_rate,adjust_score,final_score,adjust_remark,csix_bids,csix_exp,csix_at
	</sql>

	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="createTime != null">      and date_format(res.create_time,'%Y-%m-%d') = date_format(#{createTime},'%Y-%m-%d')     </if>
		<if test="taskId != null and taskId != ''">      and res.task_id = #{taskId}     </if>
		<if test="userid != null and userid != ''">      and res.userid = #{userid}     </if>
		<if test="startTime != null">      and date_format(res.start_time,'%Y-%m-%d') = date_format(#{startTime},'%Y-%m-%d')     </if>
		<if test="endTime != null">      and date_format(res.end_time,'%Y-%m-%d') = date_format(#{endTime},'%Y-%m-%d')     </if>
		<if test="status != null and status != ''">      and res.status = #{status}     </if>
		<if test="remarks != null and remarks != ''">      and res.remarks = #{remarks}     </if>
		<if test="createUserid != null and createUserid != ''">      and res.create_userid = #{createUserid}     </if>
		<if test="createUsername != null and createUsername != ''">      and res.create_username = #{createUsername}     </if>
		<if test="username != null and username != ''">      and res.username = #{username}     </if>
		<if test="matchScore != null and matchScore != ''">      and res.match_score = #{matchScore}     </if>
		<if test="quoteWeekday != null and quoteWeekday != ''">      and res.quote_weekday = #{quoteWeekday}     </if>
		<if test="quoteAmount != null and quoteAmount != ''">      and res.quote_amount = #{quoteAmount}     </if>
		<if test="quoteTime != null">      and date_format(res.quote_time,'%Y-%m-%d') = date_format(#{quoteTime},'%Y-%m-%d')     </if>
		<if test="projectId != null and projectId != ''">      and res.project_id = #{projectId}     </if>
		<if test="phaseId != null and phaseId != ''">      and res.phase_id = #{phaseId}     </if>
		<if test="skillRemark != null and skillRemark != ''">      and res.skill_remark = #{skillRemark}     </if>
		<if test="quoteWorkload != null and quoteWorkload != ''">      and res.quote_workload = #{quoteWorkload}     </if>
		<if test="quoteStartTime != null">      and date_format(res.quote_start_time,'%Y-%m-%d') = date_format(#{quoteStartTime},'%Y-%m-%d')     </if>
		<if test="quoteEndTime != null">      and date_format(res.quote_end_time,'%Y-%m-%d') = date_format(#{quoteEndTime},'%Y-%m-%d')     </if>
		<if test="branchId != null and branchId != ''">      and res.branch_id = #{branchId}     </if>
		<if test="phaseName != null and phaseName != ''">      and res.phase_name = #{phaseName}     </if>
		<if test="taskName != null and taskName != ''">      and res.task_name = #{taskName}     </if>
		<if test="distUserid != null and distUserid != ''">      and res.dist_userid = #{distUserid}     </if>
		<if test="distUsername != null and distUsername != ''">      and res.dist_username = #{distUsername}     </if>
		<if test="execUserBranchId != null and execUserBranchId != ''">      and res.exec_user_branch_id = #{execUserBranchId}     </if>
		<if test="shareKey != null and shareKey != ''">      and res.share_key = #{shareKey}     </if>
		<if test="sfeeRate != null and sfeeRate != ''">      and res.sfee_rate = #{sfeeRate}     </if>
		<if test="sfee != null and sfee != ''">      and res.sfee = #{sfee}     </if>
		<if test="provinceId != null and provinceId != ''">      and res.province_id = #{provinceId}     </if>
		<if test="provinceName != null and provinceName != ''">      and res.province_name = #{provinceName}     </if>
		<if test="cityId != null and cityId != ''">      and res.city_id = #{cityId}     </if>
		<if test="cityName != null and cityName != ''">      and res.city_name = #{cityName}     </if>
		<if test="areaId != null and areaId != ''">      and res.area_id = #{areaId}     </if>
		<if test="areaName != null and areaName != ''">      and res.area_name = #{areaName}     </if>
		<if test="gradeId != null and gradeId != ''">      and res.grade_id = #{gradeId}     </if>
		<if test="guardId != null and guardId != ''">      and res.guard_id = #{guardId}     </if>
		<if test="ilvlId != null and ilvlId != ''">      and res.ilvl_id = #{ilvlId}     </if>
		<if test="creditId != null and creditId != ''">      and res.credit_id = #{creditId}     </if>
		<if test="ctotalBids != null and ctotalBids != ''">      and res.ctotal_bids = #{ctotalBids}     </if>
		<if test="srvTimes != null and srvTimes != ''">      and res.srv_times = #{srvTimes}     </if>
		<if test="cmonthExp != null and cmonthExp != ''">      and res.cmonth_exp = #{cmonthExp}     </if>
		<if test="cmonthBids != null and cmonthBids != ''">      and res.cmonth_bids = #{cmonthBids}     </if>
		<if test="bidDirect != null and bidDirect != ''">      and res.bid_direct = #{bidDirect}     </if>
		<if test="skillIds != null and skillIds != ''">      and res.skill_ids = #{skillIds}     </if>
		<if test="skillNames != null and skillNames != ''">      and res.skill_names = #{skillNames}     </if>
		<if test="upRate != null and upRate != ''">      and res.up_rate = #{upRate}     </if>
		<if test="adjustScore != null and adjustScore != ''">      and res.adjust_score = #{adjustScore}     </if>
		<if test="finalScore != null and finalScore != ''">      and res.final_score = #{finalScore}     </if>
		<if test="adjustRemark != null and adjustRemark != ''">      and res.adjust_remark = #{adjustRemark}     </if>
		<if test="csixBids != null and csixBids != ''">      and res.csix_bids = #{csixBids}     </if>
		<if test="csixExp != null and csixExp != ''">      and res.csix_exp = #{csixExp}     </if>
		<if test="csixAt != null and csixAt != ''">      and res.csix_at = #{csixAt}     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		create_time = #{createTime},
		start_time = #{startTime},
		end_time = #{endTime},
		status = #{status},
		remarks = #{remarks},
		create_userid = #{createUserid},
		create_username = #{createUsername},
		username = #{username},
		match_score = #{matchScore},
		quote_weekday = #{quoteWeekday},
		quote_amount = #{quoteAmount},
		quote_time = #{quoteTime},
		project_id = #{projectId},
		phase_id = #{phaseId},
		skill_remark = #{skillRemark},
		quote_workload = #{quoteWorkload},
		quote_start_time = #{quoteStartTime},
		quote_end_time = #{quoteEndTime},
		branch_id = #{branchId},
		phase_name = #{phaseName},
		task_name = #{taskName},
		dist_userid = #{distUserid},
		dist_username = #{distUsername},
		exec_user_branch_id = #{execUserBranchId},
		share_key = #{shareKey},
		sfee_rate = #{sfeeRate},
		sfee = #{sfee},
		province_id = #{provinceId},
		province_name = #{provinceName},
		city_id = #{cityId},
		city_name = #{cityName},
		area_id = #{areaId},
		area_name = #{areaName},
		grade_id = #{gradeId},
		guard_id = #{guardId},
		ilvl_id = #{ilvlId},
		credit_id = #{creditId},
		ctotal_bids = #{ctotalBids},
		srv_times = #{srvTimes},
		cmonth_exp = #{cmonthExp},
		cmonth_bids = #{cmonthBids},
		bid_direct = #{bidDirect},
		skill_ids = #{skillIds},
		skill_names = #{skillNames},
		up_rate = #{upRate},
		adjust_score = #{adjustScore},
		final_score = #{finalScore},
		adjust_remark = #{adjustRemark},
		csix_bids = #{csixBids},
		csix_exp = #{csixExp},
		csix_at = #{csixAt}
	</sql>
	<sql id="someFieldSet">
		<if test="createTime != null"> create_time = #{createTime},     </if>
		<if test="startTime != null"> start_time = #{startTime},     </if>
		<if test="endTime != null"> end_time = #{endTime},     </if>
		<if test="status != null and status != ''"> status = #{status},     </if>
		<if test="remarks != null and remarks != ''"> remarks = #{remarks},     </if>
		<if test="createUserid != null and createUserid != ''"> create_userid = #{createUserid},     </if>
		<if test="createUsername != null and createUsername != ''"> create_username = #{createUsername},     </if>
		<if test="username != null and username != ''"> username = #{username},     </if>
		<if test="matchScore != null and matchScore != ''"> match_score = #{matchScore},     </if>
		<if test="quoteWeekday != null and quoteWeekday != ''"> quote_weekday = #{quoteWeekday},     </if>
		<if test="quoteAmount != null and quoteAmount != ''"> quote_amount = #{quoteAmount},     </if>
		<if test="quoteTime != null"> quote_time = #{quoteTime},     </if>
		<if test="projectId != null and projectId != ''"> project_id = #{projectId},     </if>
		<if test="phaseId != null and phaseId != ''"> phase_id = #{phaseId},     </if>
		<if test="skillRemark != null and skillRemark != ''"> skill_remark = #{skillRemark},     </if>
		<if test="quoteWorkload != null and quoteWorkload != ''"> quote_workload = #{quoteWorkload},     </if>
		<if test="quoteStartTime != null"> quote_start_time = #{quoteStartTime},     </if>
		<if test="quoteEndTime != null"> quote_end_time = #{quoteEndTime},     </if>
		<if test="branchId != null and branchId != ''"> branch_id = #{branchId},     </if>
		<if test="phaseName != null and phaseName != ''"> phase_name = #{phaseName},     </if>
		<if test="taskName != null and taskName != ''"> task_name = #{taskName},     </if>
		<if test="distUserid != null and distUserid != ''"> dist_userid = #{distUserid},     </if>
		<if test="distUsername != null and distUsername != ''"> dist_username = #{distUsername},     </if>
		<if test="execUserBranchId != null and execUserBranchId != ''"> exec_user_branch_id = #{execUserBranchId},     </if>
		<if test="shareKey != null and shareKey != ''"> share_key = #{shareKey},     </if>
		<if test="sfeeRate != null and sfeeRate != ''"> sfee_rate = #{sfeeRate},     </if>
		<if test="sfee != null and sfee != ''"> sfee = #{sfee},     </if>
		<if test="provinceId != null and provinceId != ''"> province_id = #{provinceId},     </if>
		<if test="provinceName != null and provinceName != ''"> province_name = #{provinceName},     </if>
		<if test="cityId != null and cityId != ''"> city_id = #{cityId},     </if>
		<if test="cityName != null and cityName != ''"> city_name = #{cityName},     </if>
		<if test="areaId != null and areaId != ''"> area_id = #{areaId},     </if>
		<if test="areaName != null and areaName != ''"> area_name = #{areaName},     </if>
		<if test="gradeId != null and gradeId != ''"> grade_id = #{gradeId},     </if>
		<if test="guardId != null and guardId != ''"> guard_id = #{guardId},     </if>
		<if test="ilvlId != null and ilvlId != ''"> ilvl_id = #{ilvlId},     </if>
		<if test="creditId != null and creditId != ''"> credit_id = #{creditId},     </if>
		<if test="ctotalBids != null and ctotalBids != ''"> ctotal_bids = #{ctotalBids},     </if>
		<if test="srvTimes != null and srvTimes != ''"> srv_times = #{srvTimes},     </if>
		<if test="cmonthExp != null and cmonthExp != ''"> cmonth_exp = #{cmonthExp},     </if>
		<if test="cmonthBids != null and cmonthBids != ''"> cmonth_bids = #{cmonthBids},     </if>
		<if test="bidDirect != null and bidDirect != ''"> bid_direct = #{bidDirect},     </if>
		<if test="skillIds != null and skillIds != ''"> skill_ids = #{skillIds},     </if>
		<if test="skillNames != null and skillNames != ''"> skill_names = #{skillNames},     </if>
		<if test="upRate != null and upRate != ''"> up_rate = #{upRate},     </if>
		<if test="adjustScore != null and adjustScore != ''"> adjust_score = #{adjustScore},     </if>
		<if test="finalScore != null and finalScore != ''"> final_score = #{finalScore},     </if>
		<if test="adjustRemark != null and adjustRemark != ''"> adjust_remark = #{adjustRemark},     </if>
		<if test="csixBids != null and csixBids != ''"> csix_bids = #{csixBids},     </if>
		<if test="csixExp != null and csixExp != ''"> csix_exp = #{csixExp},     </if>
		<if test="csixAt != null and csixAt != ''"> csix_at = #{csixAt},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			create_time = #{item.createTime},
			start_time = #{item.startTime},
			end_time = #{item.endTime},
			status = #{item.status},
			remarks = #{item.remarks},
			create_userid = #{item.createUserid},
			create_username = #{item.createUsername},
			username = #{item.username},
			match_score = #{item.matchScore},
			quote_weekday = #{item.quoteWeekday},
			quote_amount = #{item.quoteAmount},
			quote_time = #{item.quoteTime},
			project_id = #{item.projectId},
			phase_id = #{item.phaseId},
			skill_remark = #{item.skillRemark},
			quote_workload = #{item.quoteWorkload},
			quote_start_time = #{item.quoteStartTime},
			quote_end_time = #{item.quoteEndTime},
			branch_id = #{item.branchId},
			phase_name = #{item.phaseName},
			task_name = #{item.taskName},
			dist_userid = #{item.distUserid},
			dist_username = #{item.distUsername},
			exec_user_branch_id = #{item.execUserBranchId},
			share_key = #{item.shareKey},
			sfee_rate = #{item.sfeeRate},
			sfee = #{item.sfee},
			province_id = #{item.provinceId},
			province_name = #{item.provinceName},
			city_id = #{item.cityId},
			city_name = #{item.cityName},
			area_id = #{item.areaId},
			area_name = #{item.areaName},
			grade_id = #{item.gradeId},
			guard_id = #{item.guardId},
			ilvl_id = #{item.ilvlId},
			credit_id = #{item.creditId},
			ctotal_bids = #{item.ctotalBids},
			srv_times = #{item.srvTimes},
			cmonth_exp = #{item.cmonthExp},
			cmonth_bids = #{item.cmonthBids},
			bid_direct = #{item.bidDirect},
			skill_ids = #{item.skillIds},
			skill_names = #{item.skillNames},
			up_rate = #{item.upRate},
			adjust_score = #{item.adjustScore},
			final_score = #{item.finalScore},
			adjust_remark = #{item.adjustRemark},
			csix_bids = #{item.csixBids},
			csix_exp = #{item.csixExp},
			csix_at = #{item.csixAt}
	</sql>
</mapper>