<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.entity.XmTaskSbill">
	
	
	<!--开始 自定sql函数区域 请在此区域添加自定义函数,其它区域尽量不要动，因为代码随时重新生成 -->

		<sql id="whereForMap">
            <if test="ids != null">  and (res.id) in
                    <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >
                        ( #{id})
                    </foreach>
             </if>
		    <if test="key != null and key !='' ">
			 	AND( res.id like #{key} OR res.title like #{key} OR res.project_name like #{key} )
			</if>
			<if test="startTime !=null and startTime != ''">
				AND res.ctime BETWEEN #{startTime} AND #{endTime}
			</if>
		</sql>

	<update id="updateByWorkloadList" parameterType="String">
		upate xm_task_sbill res left join (select w.sbill_id,sum(ifnull(w.amt,0)) as amt,sum(ifnull(w.samt,0)) as samt,sum(ifnull(w.workload,0)) as workload from xm_task_workload w group by w.sbill_id where w.sbill_id=#{id} and w.wstatus='1') as w on res.id=w.sbill_id
		set
		res.amt=w.samt,
		res.workload=w.workload
		where res.id=#{id}
	</update>
	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from xm_task_sbill res
		<where>
		    <include refid="whereForMap"/>
			<include refid="where"/>
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.core.entity.XmTaskSbill" resultType="com.xm.core.entity.XmTaskSbill">
		select * from xm_task_sbill res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.core.entity.XmTaskSbill" resultType="com.xm.core.entity.XmTaskSbill">
		select * from xm_task_sbill res
		where 
			res.id = #{id}
	</select>
	
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from xm_task_sbill res
		where 
			 res.id = #{id}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.core.entity.XmTaskSbill" resultType="long">
		select count(1) from xm_task_sbill res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键id,-->
	<insert id="insert" parameterType="com.xm.core.entity.XmTaskSbill" useGeneratedKeys="false"   keyProperty="id">
		insert into xm_task_sbill(
			<include refid="columns"/>
		) values (
		#{id},#{title},#{amt},#{ctime},#{cuserid},#{cusername},#{remark},#{branchId},#{deptid},#{cpId},#{cpName},#{workload},#{bizMonth},#{bizDate},#{bizFlowState},#{bizProcInstId},#{ltime},#{status},#{fmsg},#{projectId},#{projectName}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.core.entity.XmTaskSbill">
		delete from xm_task_sbill
		<where>  
			1=2
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.core.entity.XmTaskSbill">
		delete from xm_task_sbill 
		where id = #{id} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.core.entity.XmTaskSbill">
		update  xm_task_sbill 
		<set>
			<include refid="someFieldSet"/>
		</set>
		where id = #{id} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.core.entity.XmTaskSbill">
		update  xm_task_sbill 
		<set>
			<include refid="set"/>
		</set>
		where id = #{id} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  xm_task_sbill 
		set 
			<include refid="batchSet"/>
			where id = #{item.id}  
		</foreach> 
	</update>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from xm_task_sbill 
			where
			(id) in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                    (  #{item.id} )
                </foreach>
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		id,title,amt,ctime,cuserid,cusername,remark,branch_id,deptid,cp_id,cp_name,workload,biz_month,biz_date,biz_flow_state,biz_proc_inst_id,ltime,status,fmsg,project_id,project_name
	</sql>

	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="id != null and id != ''">      and res.id = #{id}     </if>
		<if test="title != null and title != ''">      and res.title = #{title}     </if>
		<if test="amt != null and amt != ''">      and res.amt = #{amt}     </if>
		<if test="ctime != null">      and date_format(res.ctime,'%Y-%m-%d') = date_format(#{ctime},'%Y-%m-%d')     </if>
		<if test="cuserid != null and cuserid != ''">      and res.cuserid = #{cuserid}     </if>
		<if test="cusername != null and cusername != ''">      and res.cusername = #{cusername}     </if>
		<if test="remark != null and remark != ''">      and res.remark = #{remark}     </if>
		<if test="branchId != null and branchId != ''">      and res.branch_id = #{branchId}     </if>
		<if test="deptid != null and deptid != ''">      and res.deptid = #{deptid}     </if>
		<if test="cpId != null and cpId != ''">      and res.cp_id = #{cpId}     </if>
		<if test="cpName != null and cpName != ''">      and res.cp_name = #{cpName}     </if>
		<if test="workload != null and workload != ''">      and res.workload = #{workload}     </if>
		<if test="bizMonth != null and bizMonth != ''">      and res.biz_month = #{bizMonth}     </if>
		<if test="bizDate != null and bizDate != ''">      and res.biz_date = #{bizDate}     </if>
		<if test="bizFlowState != null and bizFlowState != ''">      and res.biz_flow_state = #{bizFlowState}     </if>
		<if test="bizProcInstId != null and bizProcInstId != ''">      and res.biz_proc_inst_id = #{bizProcInstId}     </if>
		<if test="ltime != null">      and date_format(res.ltime,'%Y-%m-%d') = date_format(#{ltime},'%Y-%m-%d')     </if>
		<if test="status != null and status != ''">      and res.status = #{status}     </if>
		<if test="fmsg != null and fmsg != ''">      and res.fmsg = #{fmsg}     </if>
		<if test="projectId != null and projectId != ''">      and res.project_id = #{projectId}     </if>
		<if test="projectName != null and projectName != ''">      and res.project_name = #{projectName}     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		title = #{title},
		amt = #{amt},
		ctime = #{ctime},
		cuserid = #{cuserid},
		cusername = #{cusername},
		remark = #{remark},
		branch_id = #{branchId},
		deptid = #{deptid},
		cp_id = #{cpId},
		cp_name = #{cpName},
		workload = #{workload},
		biz_month = #{bizMonth},
		biz_date = #{bizDate},
		biz_flow_state = #{bizFlowState},
		biz_proc_inst_id = #{bizProcInstId},
		ltime = #{ltime},
		status = #{status},
		fmsg = #{fmsg},
		project_id = #{projectId},
		project_name = #{projectName}
	</sql>
	<sql id="someFieldSet">
		<if test="title != null and title != ''"> title = #{title},     </if>
		<if test="amt != null and amt != ''"> amt = #{amt},     </if>
		<if test="ctime != null"> ctime = #{ctime},     </if>
		<if test="cuserid != null and cuserid != ''"> cuserid = #{cuserid},     </if>
		<if test="cusername != null and cusername != ''"> cusername = #{cusername},     </if>
		<if test="remark != null and remark != ''"> remark = #{remark},     </if>
		<if test="branchId != null and branchId != ''"> branch_id = #{branchId},     </if>
		<if test="deptid != null and deptid != ''"> deptid = #{deptid},     </if>
		<if test="cpId != null and cpId != ''"> cp_id = #{cpId},     </if>
		<if test="cpName != null and cpName != ''"> cp_name = #{cpName},     </if>
		<if test="workload != null and workload != ''"> workload = #{workload},     </if>
		<if test="bizMonth != null and bizMonth != ''"> biz_month = #{bizMonth},     </if>
		<if test="bizDate != null and bizDate != ''"> biz_date = #{bizDate},     </if>
		<if test="bizFlowState != null and bizFlowState != ''"> biz_flow_state = #{bizFlowState},     </if>
		<if test="bizProcInstId != null and bizProcInstId != ''"> biz_proc_inst_id = #{bizProcInstId},     </if>
		<if test="ltime != null"> ltime = #{ltime},     </if>
		<if test="status != null and status != ''"> status = #{status},     </if>
		<if test="fmsg != null and fmsg != ''"> fmsg = #{fmsg},     </if>
		<if test="projectId != null and projectId != ''"> project_id = #{projectId},     </if>
		<if test="projectName != null and projectName != ''"> project_name = #{projectName},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			title = #{item.title},
			amt = #{item.amt},
			ctime = #{item.ctime},
			cuserid = #{item.cuserid},
			cusername = #{item.cusername},
			remark = #{item.remark},
			branch_id = #{item.branchId},
			deptid = #{item.deptid},
			cp_id = #{item.cpId},
			cp_name = #{item.cpName},
			workload = #{item.workload},
			biz_month = #{item.bizMonth},
			biz_date = #{item.bizDate},
			biz_flow_state = #{item.bizFlowState},
			biz_proc_inst_id = #{item.bizProcInstId},
			ltime = #{item.ltime},
			status = #{item.status},
			fmsg = #{item.fmsg},
			project_id = #{item.projectId},
			project_name = #{item.projectName}
	</sql>
</mapper>