<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.core.entity.XmTaskWorkload">
	
	
	<!--开始 自定sql函数区域 请在此区域添加自定义函数,其它区域尽量不要动，因为代码随时重新生成 -->

    <sql id="whereForMap">
         <if test=" ids != null">  and (res.id) in
             <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >
                 ( #{item})
             </foreach>
         </if>
        <if test="key != null and key !='' ">       </if>
    </sql>

	<!-- 通过条件查询获取未提交结算的工作量 返回list<map> -->
	<select id="selectListMapByProject" parameterType="HashMap" resultType="HashMap">
		select task.project_id,res.* from xm_task_workload res
		inner join xm_task task
		on res.task_id = task.id
		<where>
			res.wstatus = '1'
			AND res.sstatus = '1'
			AND task.project_id = #{projectId}
			<if test="key != null and key !='' ">
			AND
			( task.id like #{key} OR task.name like #{key} OR res.userid like #{key} OR res.username like #{key} )
			</if>
		</where>
	</select>

	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByWhere" parameterType="com.xm.core.entity.XmTaskWorkload">
		update  xm_task_workload res
		<set>
			res.sstatus = #{sstatus}
		</set>
		<where>
			res.sbill_id = #{sbillId}
		</where>
	</update>
	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from xm_task_workload res
		<where>
		    <include refid="whereForMap"/>
			<include refid="where"/>
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.core.entity.XmTaskWorkload" resultType="com.xm.core.entity.XmTaskWorkload">
		select * from xm_task_workload res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.core.entity.XmTaskWorkload" resultType="com.xm.core.entity.XmTaskWorkload">
		select * from xm_task_workload res
		where 
			res.id = #{id}
	</select>
    <select id="selectListByIds" parameterType="List" resultType="com.xm.core.entity.XmTaskWorkload">
        select * from xm_task_workload res
        where  (res.id) in
             <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                 ( #{item})
             </foreach>
    </select>
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from xm_task_workload res
		where 
			 res.id = #{id}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.core.entity.XmTaskWorkload" resultType="long">
		select count(1) from xm_task_workload res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键id,-->
	<insert id="insert" parameterType="com.xm.core.entity.XmTaskWorkload" useGeneratedKeys="false"   keyProperty="id">
		insert into xm_task_workload(
			<include refid="columns"/>
		) values (
		#{userid},#{username},#{ctime},#{taskId},#{cuserid},#{bizDate},#{wstatus},#{remark},#{ttype},#{id},#{sbillId},#{stime},#{sstatus},#{amt},#{samt},#{workload},#{rworkload},#{cusername},#{projectId}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.core.entity.XmTaskWorkload">
		delete from xm_task_workload res
		<where>  
			<include refid="where"/>
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.core.entity.XmTaskWorkload">
		delete from xm_task_workload 
		where id = #{id} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.core.entity.XmTaskWorkload">
		update  xm_task_workload 
		<set>
			<include refid="someFieldSet"/>
		</set>
		where id = #{id} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.core.entity.XmTaskWorkload">
		update  xm_task_workload 
		<set>
			<include refid="set"/>
		</set>
		where id = #{id} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  xm_task_workload 
		set 
			<include refid="batchSet"/>
			where id = #{item.id}  
		</foreach> 
	</update>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from xm_task_workload 
			where
			(id) in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                    (  #{item.id} )
                </foreach>
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		userid,username,ctime,task_id,cuserid,biz_date,wstatus,remark,ttype,id,sbill_id,stime,sstatus,amt,samt,workload,rworkload,cusername,project_id
	</sql>

	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="userid != null and userid != ''">      and res.userid = #{userid}     </if>
		<if test="username != null and username != ''">      and res.username = #{username}     </if>
		<if test="ctime != null">      and date_format(res.ctime,'%Y-%m-%d') = date_format(#{ctime},'%Y-%m-%d')     </if>
		<if test="taskId != null and taskId != ''">      and res.task_id = #{taskId}     </if>
		<if test="cuserid != null and cuserid != ''">      and res.cuserid = #{cuserid}     </if>
		<if test="bizDate != null and bizDate != ''">      and res.biz_date = #{bizDate}     </if>
		<if test="wstatus != null and wstatus != ''">      and res.wstatus = #{wstatus}     </if>
		<if test="remark != null and remark != ''">      and res.remark = #{remark}     </if>
		<if test="ttype != null and ttype != ''">      and res.ttype = #{ttype}     </if>
		<if test="id != null and id != ''">      and res.id = #{id}     </if>
		<if test="sbillId != null and sbillId != ''">      and res.sbill_id = #{sbillId}     </if>
		<if test="stime != null">      and date_format(res.stime,'%Y-%m-%d') = date_format(#{stime},'%Y-%m-%d')     </if>
		<if test="sstatus != null and sstatus != ''">      and res.sstatus = #{sstatus}     </if>
		<if test="amt != null and amt != ''">      and res.amt = #{amt}     </if>
		<if test="samt != null and samt != ''">      and res.samt = #{samt}     </if>
		<if test="workload != null and workload != ''">      and res.workload = #{workload}     </if>
		<if test="rworkload != null and rworkload != ''">      and res.rworkload = #{rworkload}     </if>
		<if test="cusername != null and cusername != ''">      and res.cusername = #{cusername}     </if>
		<if test="projectId != null and projectId != ''">      and res.project_id = #{projectId}     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		userid = #{userid},
		username = #{username},
		ctime = #{ctime},
		task_id = #{taskId},
		cuserid = #{cuserid},
		biz_date = #{bizDate},
		wstatus = #{wstatus},
		remark = #{remark},
		ttype = #{ttype},
		sbill_id = #{sbillId},
		stime = #{stime},
		sstatus = #{sstatus},
		amt = #{amt},
		samt = #{samt},
		workload = #{workload},
		rworkload = #{rworkload},
		cusername = #{cusername},
		project_id = #{projectId}
	</sql>
	<sql id="someFieldSet">
		<if test="userid != null and userid != ''"> userid = #{userid},     </if>
		<if test="username != null and username != ''"> username = #{username},     </if>
		<if test="ctime != null"> ctime = #{ctime},     </if>
		<if test="taskId != null and taskId != ''"> task_id = #{taskId},     </if>
		<if test="cuserid != null and cuserid != ''"> cuserid = #{cuserid},     </if>
		<if test="bizDate != null and bizDate != ''"> biz_date = #{bizDate},     </if>
		<if test="wstatus != null and wstatus != ''"> wstatus = #{wstatus},     </if>
		<if test="remark != null and remark != ''"> remark = #{remark},     </if>
		<if test="ttype != null and ttype != ''"> ttype = #{ttype},     </if>
		<if test="sbillId != null and sbillId != ''"> sbill_id = #{sbillId},     </if>
		<if test="stime != null"> stime = #{stime},     </if>
		<if test="sstatus != null and sstatus != ''"> sstatus = #{sstatus},     </if>
		<if test="amt != null and amt != ''"> amt = #{amt},     </if>
		<if test="samt != null and samt != ''"> samt = #{samt},     </if>
		<if test="workload != null and workload != ''"> workload = #{workload},     </if>
		<if test="rworkload != null and rworkload != ''"> rworkload = #{rworkload},     </if>
		<if test="cusername != null and cusername != ''"> cusername = #{cusername},     </if>
		<if test="projectId != null and projectId != ''"> project_id = #{projectId},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			userid = #{item.userid},
			username = #{item.username},
			ctime = #{item.ctime},
			task_id = #{item.taskId},
			cuserid = #{item.cuserid},
			biz_date = #{item.bizDate},
			wstatus = #{item.wstatus},
			remark = #{item.remark},
			ttype = #{item.ttype},
			sbill_id = #{item.sbillId},
			stime = #{item.stime},
			sstatus = #{item.sstatus},
			amt = #{item.amt},
			samt = #{item.samt},
			workload = #{item.workload},
			rworkload = #{item.rworkload},
			cusername = #{item.cusername},
			project_id = #{item.projectId}
	</sql>
</mapper>