# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../xm-server\.idea/codestream.xml
# Datasource local storage ignored files
/../../../:\xm-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
