<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xm.share.entity.ShareBizInfo">
	
	
	<!--开始 自定sql函数区域 -->
		<!--请在此区域添加自定义函数-->
		
		
		
	<!--结束 自定义sql函数区域-->
	

	
	<!-- 通过条件查询获取数据列表 返回list<map> -->
	<select id="selectListMapByWhere" parameterType="HashMap" resultType="HashMap">
		select * from xm_share_biz_info res
		<where> 
			<if test="ids != null">  and     
				share_key in
				    <foreach collection="ids" item="item" index="index" open="(" separator="," close=")" >  
				        #{item}  
				    </foreach>  
			 </if>
			<include refid="where"/>
			<if test="key != null and key !='' ">       </if> 
		</where>
	</select>
	
	<!-- 通过条件查询获取数据列表 不分页 返回 list<Object> -->
	<select id="selectListByWhere" parameterType="com.xm.share.entity.ShareBizInfo" resultType="com.xm.share.entity.ShareBizInfo">
		select * from xm_share_biz_info res
		<where>
			<include refid="where"/>
		</where>
	</select>
	
		<!-- 通过主键查询获取数据对象 返回object -->
	<select id="selectOneObject" parameterType="com.xm.share.entity.ShareBizInfo" resultType="com.xm.share.entity.ShareBizInfo">
		select * from xm_share_biz_info res
		where 
			res.share_key = #{shareKey}
	</select>
	
	<!-- 通过主键查询获取数据对象 返回map-->
	<select id="selectOneMap" parameterType="HashMap" resultType="HashMap">
		select * from xm_share_biz_info res
		where 
			 res.share_key = #{shareKey}
	</select>
	<!-- 获取数据条目 返回long -->
	<select id="countByWhere" parameterType="com.xm.share.entity.ShareBizInfo" resultType="long">
		select count(1) from xm_share_biz_info res
		<where>
			<include refid="where"/>
		</where>
	</select>
	<!-- 新增一条记录  主键share_key,-->
	<insert id="insert" parameterType="com.xm.share.entity.ShareBizInfo" useGeneratedKeys="false"   keyProperty="share_key">
		insert into xm_share_biz_info(
			<include refid="columns"/>
		) values (
		#{shareKey},#{shareUserid},#{shareUsername},#{pageUrl},#{pageType},#{shareTime},#{bizPkId},#{bizBranchId},#{shareBranchId},#{bizSubPkId},#{params},#{shareType},#{pshareKey},#{pshareUserid},#{pshareUsername},#{bizType},#{bizCategoryId}
		)
	</insert>
	
	<!-- 按条件删除若干条记录-->
	<delete id="deleteByWhere" parameterType="com.xm.share.entity.ShareBizInfo">
		delete from xm_share_biz_info
		<where>  
			1=2
		</where>
	</delete>
	
	<!-- 按主键删除一条记录-->
	<delete id="deleteByPk" parameterType="com.xm.share.entity.ShareBizInfo">
		delete from xm_share_biz_info
		where share_key = #{shareKey} 
	</delete>
	
	<!-- 根据条件修改若干条记录 -->
	<update id="updateSomeFieldByPk" parameterType="com.xm.share.entity.ShareBizInfo">
		update  xm_share_biz_info
		<set>
			<include refid="someFieldSet"/>
		</set>
		where share_key = #{shareKey} 
	</update>
	
		<!-- 根据主键修改一条记录 -->
	<update id="updateByPk" parameterType="com.xm.share.entity.ShareBizInfo">
		update  xm_share_biz_info
		<set>
			<include refid="set"/>
		</set>
		where share_key = #{shareKey} 
	</update>

	<!-- 批量新增  批量插入 借用insert 循环插入实现
	<insert id="batchInsert" parameterType="List">
 	</insert>
 	-->
 	
	<!-- 批量更新 -->
	<update id="batchUpdate" parameterType="List">   
		<foreach collection="list" item="item" index="index" separator=";" >
   		update  xm_share_biz_info
		set 
			<include refid="batchSet"/>
			where share_key = #{item.shareKey}  
		</foreach> 
	</update>
	<!-- 批量删除 -->
	<delete id="batchDelete" parameterType="List">  
		delete from xm_share_biz_info
			where
			(share_key)
			    in
                <foreach collection="list" item="item" index="index" open="(" separator="," close=")" >
                    ( #{item.shareKey}
                    )
                </foreach>
	</delete>
	
	
	<!--sql片段 列-->
	<sql id="columns">
		share_key,share_userid,share_username,page_url,page_type,share_time,biz_pk_id,biz_branch_id,share_branch_id,biz_sub_pk_id,params,share_type,pshare_key,pshare_userid,pshare_username,biz_type,biz_category_id
	</sql>

	<!--sql片段 动态条件 YYYY-MM-DD HH24:MI:SS-->
	<sql id="where">
		<if test="shareKey != null and shareKey != ''">      and res.share_key = #{shareKey}     </if>
		<if test="shareUserid != null and shareUserid != ''">      and res.share_userid = #{shareUserid}     </if>
		<if test="shareUsername != null and shareUsername != ''">      and res.share_username = #{shareUsername}     </if>
		<if test="pageUrl != null and pageUrl != ''">      and res.page_url = #{pageUrl}     </if>
		<if test="pageType != null and pageType != ''">      and res.page_type = #{pageType}     </if>
		<if test="shareTime != null">      and date_format(res.share_time,'%Y-%m-%d') = date_format(#{shareTime},'%Y-%m-%d')     </if>
		<if test="bizPkId != null and bizPkId != ''">      and res.biz_pk_id = #{bizPkId}     </if>
		<if test="bizBranchId != null and bizBranchId != ''">      and res.biz_branch_id = #{bizBranchId}     </if>
		<if test="shareBranchId != null and shareBranchId != ''">      and res.share_branch_id = #{shareBranchId}     </if>
		<if test="bizSubPkId != null and bizSubPkId != ''">      and res.biz_sub_pk_id = #{bizSubPkId}     </if>
		<if test="params != null and params != ''">      and res.params = #{params}     </if>
		<if test="shareType != null and shareType != ''">      and res.share_type = #{shareType}     </if>
		<if test="pshareKey != null and pshareKey != ''">      and res.pshare_key = #{pshareKey}     </if>
		<if test="pshareUserid != null and pshareUserid != ''">      and res.pshare_userid = #{pshareUserid}     </if>
		<if test="pshareUsername != null and pshareUsername != ''">      and res.pshare_username = #{pshareUsername}     </if>
		<if test="bizType != null and bizType != ''">      and res.biz_type = #{bizType}     </if>
		<if test="bizCategoryId != null and bizCategoryId != ''">      and res.biz_category_id = #{bizCategoryId}     </if>
	</sql>
	<!--sql片段 更新字段 -->
	<sql id="set">
		share_userid = #{shareUserid},
		share_username = #{shareUsername},
		page_url = #{pageUrl},
		page_type = #{pageType},
		share_time = #{shareTime},
		biz_pk_id = #{bizPkId},
		biz_branch_id = #{bizBranchId},
		share_branch_id = #{shareBranchId},
		biz_sub_pk_id = #{bizSubPkId},
		params = #{params},
		share_type = #{shareType},
		pshare_key = #{pshareKey},
		pshare_userid = #{pshareUserid},
		pshare_username = #{pshareUsername},
		biz_type = #{bizType},
		biz_category_id = #{bizCategoryId}
	</sql>
	<sql id="someFieldSet">
		<if test="shareUserid != null and shareUserid != ''"> share_userid = #{shareUserid},     </if>
		<if test="shareUsername != null and shareUsername != ''"> share_username = #{shareUsername},     </if>
		<if test="pageUrl != null and pageUrl != ''"> page_url = #{pageUrl},     </if>
		<if test="pageType != null and pageType != ''"> page_type = #{pageType},     </if>
		<if test="shareTime != null"> share_time = #{shareTime},     </if>
		<if test="bizPkId != null and bizPkId != ''"> biz_pk_id = #{bizPkId},     </if>
		<if test="bizBranchId != null and bizBranchId != ''"> biz_branch_id = #{bizBranchId},     </if>
		<if test="shareBranchId != null and shareBranchId != ''"> share_branch_id = #{shareBranchId},     </if>
		<if test="bizSubPkId != null and bizSubPkId != ''"> biz_sub_pk_id = #{bizSubPkId},     </if>
		<if test="params != null and params != ''"> params = #{params},     </if>
		<if test="shareType != null and shareType != ''"> share_type = #{shareType},     </if>
		<if test="pshareKey != null and pshareKey != ''"> pshare_key = #{pshareKey},     </if>
		<if test="pshareUserid != null and pshareUserid != ''"> pshare_userid = #{pshareUserid},     </if>
		<if test="pshareUsername != null and pshareUsername != ''"> pshare_username = #{pshareUsername},     </if>
		<if test="bizType != null and bizType != ''"> biz_type = #{bizType},     </if>
		<if test="bizCategoryId != null and bizCategoryId != ''"> biz_category_id = #{bizCategoryId},     </if>
	</sql>
	<!--sql片段 批量更新 -->
	<sql id="batchSet">
			share_userid = #{item.shareUserid},
			share_username = #{item.shareUsername},
			page_url = #{item.pageUrl},
			page_type = #{item.pageType},
			share_time = #{item.shareTime},
			biz_pk_id = #{item.bizPkId},
			biz_branch_id = #{item.bizBranchId},
			share_branch_id = #{item.shareBranchId},
			biz_sub_pk_id = #{item.bizSubPkId},
			params = #{item.params},
			share_type = #{item.shareType},
			pshare_key = #{item.pshareKey},
			pshare_userid = #{item.pshareUserid},
			pshare_username = #{item.pshareUsername},
			biz_type = #{item.bizType},
			biz_category_id = #{item.bizCategoryId}
	</sql>
</mapper>